<a href="https://colab.research.google.com/github/Vishnupriya-12345/Python-Assignment/blob/master/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #question 1
a=float(input("Enter first side value "))
b=float(input("Enter second side value "))
c=float(input("Enter third side value "))
s=(a+b+c)/2
A=(s*(s-a)*(s-b)*(s-c)**0.5)
print('Area= ',A)

Enter first side value 2
Enter second side value 4
Enter third side value 5
Area=  20.41770830676156

In [ ]:
 #question 2
my_str='madam'
rev_str=reversed(my_str)
if list(my_str)==list(rev_str):
     print("palindrome")
else:
     print("not a palindrome")

palindrome

In [ ]:
 #question 3
year=int(input("Enter year: "))
if year%4==0:
    print("leap year")
else:
    print("not a leap year")

Enter year: 2000
leap year

In [ ]:
 #question 4
sen1="This program converts spaces into hypen"
sen2=sen1.replace(' ','-')
sen2

'This-program-converts-spaces-into-hypen'

In [ ]:
#question 5
my_list="orange","red","cyan","green","mangeta","pink","white"
my_list=sorted(my_list)
print(my_list)

['cyan', 'green', 'mangeta', 'orange', 'pink', 'red', 'white']

In [ ]:
#question 6
salary = int(input("Enter total salary"))
if salary <= 250000 :
   print("no tax")
elif 250001 <= salary<=500000 :
   print("tax = ",salary*.05)
elif 500001 <= salary <=750000 :
   print("tax = ",salary*.10)
elif 750001 <= salary <=1000000 :
   print("tax = ",salary*.15)
elif 1000001 <= salaryb<=1250000 :
   print("tax = ", salary*.20)
elif 1250001 <= salary <=1500000 :
   print("tax= ",salary*.25)
else :
   print("tax= ",salary*.30)

Enter total salary500000
tax =  25000.0

In [ ]:
#question 7
l=(input("Enter first integer "))
m=(input("Enter second integer "))
n=(input("Enter third integer "))
print(l+m+n)

Enter first integer 11
Enter second integer 33
Enter third integer 55
113355

In [ ]:
 #question 8
D=int(input("Enter days"))
H=int(input("Enter hours"))
M=int(input("Enter minutes"))
S=int(input("Enter seconds"))
V=D*24*60*60+H*60*60+M*60+S
print("Total seconds",V)

Enter days2
Enter hours1
Enter minutes2
Enter seconds0
Total seconds 176520

In [ ]:
#question 9
l=int(input("Enter first integer "))
m=int(input("Enter second integer "))
n=int(input("Enter third integer "))
p=max(l,m,n)
q=min(l,m,n)
v=l+m+n-p-q
print(p,q,v)

Enter first integer 2
Enter second integer 6
Enter third integer 1
6 1 2

In [ ]:
#question 10
Y=int(input("Enter year: "))
M=int(input("Enter month: "))
D=int(input("Enter date: "))
if Y%4==0:
    leapY=True
else:
    leapY=False
if M==2:
   if leapY:
       M_length=29
   else:
       M_len=28
elif M in(4,6,9,11):
       M_length=30
else: 
       M_length=31
if D<M_length:
   D=D+1
else:
   D=1
   Y+=1
print(f"successor date is [YYYY-MM-DD] : {Y}-{M}-{D}")

Enter year: 2020
Enter month: 04
Enter date: 15
successor date is [YYYY-MM-DD] : 2020-4-16

In [ ]:
 #question 11
def product_num(x1,x2,x3,x4,x5,x6,x7,x8):
    return x1*x2*x3*x4*x5*x6*x7*x8
product_num(45,3,2,89,72,1,10,7)

121111200

In [ ]:
 #question 12
def Num_list(x1,x2,x3,x4,x5,x6):
     return x1+x2,x2+x3,x3+x4,x4+x5,x5+x6
Num_list(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
 #question 13
def Num_tuple(x1,x2,x3,x4,x5,x6):
     return x1,x1*x2,x1*x2*x3,x1*x2*x3*x4,x1*x2*x3*x4*x5,x1*x2*x3*x4*x5*x6
Num_tuple(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#question 14
a=int(input("Enter the number "))
newlist=[]
b=0
while a>0 :
    x=a%10
    a=a//10
    b=b*10+x
while b>0 :
    x=b%10
    b=b//10
    newlist.append(x)
print(newlist)

Enter the number 586392
[5, 8, 6, 3, 9, 2]

In [ ]:
#question 15
q=input("Enter a palindrome ")
list1=[]
list2=[]
index=0
for i in range(0,len(q)-1):
   for j in range(i+1,len(q)+1):
       if j-i>1:
          p=q[i:j]
          if (p==p[::-1]):
             list1.append(q[i:j])
             list2.append(len(q[i:j]))
maximum=max(list2)
for i in list2:
    if i==maximum:
       print(list1[index])
    else:
       index=index+1

Enter a palindrome malayalam
malayalam

In [ ]:
#question 16
p=input("Enter the binary number of length 10 ")
q=input("Enter the binary number of length 5 ")
if q[:] in p[:] :
    print (1)
else:
    print (0)

Enter the binary number of length 10 1234567890
Enter the binary number of length 5 9
1